<app-header></app-header>

<div>
<div *ngIf="operacion=='1'">
  <img src="/assets/images/calculadora.jpg" alt="" width="150" height="150">
</div>
<h1>Calculadora Seminario Angular</h1>
Nro. 1 <input type="number" [(ngModel)]="nro1"> <br/> Nro. 2 <input type="number" [(ngModel)]="nro2">
<br/> Operacion <input type="text" [(ngModel)]="operacion"> <br/> Resultado <input type="number" [(ngModel)]="result">
<br/>

<input type="button" value="Resolver operacion" (click)="resolverOperacion()" />

<div *ngFor="let opcion of opcionesOperacion">
  <span>{{opcion.label}}</span>
</div>
</div>

<app-footer></app-footer>

<hr/>


<app-active-list></app-active-list>
<hr/>
<app-inactive-list></app-inactive-list>