<div class="container" fxLayout="row">
    <div class="menu " fxFlex="25" fxLayout="column">
        <div class="menu-header header-label" fxFlex="8">
            oe que se dice monito
        </div>
        <div class="menu-content" fxFlex="92">

        </div>
    </div>

    <div class="content " fxFlex="65" fxLayout="column">

        <div class="content-uno" fxFlex="50" fxLayout="column">
            <div class="content-uno-header header-label" fxFlex="16">
                .
            </div>
            <div class="content-uno-content" fxFlex="84">
                .
            </div>
        </div>
        <div class="content-dos" fxFlex="50" fxLayout="column">
            <div class="content-dos-header header-label" fxFlex="16">
                .
            </div>
            <div class="content-dos-content" fxFlex="84">
                .
            </div>
        </div>
    </div>

    <div class="right-barnner" fxFlex="10">
        otro baner
    </div>
</div>